# packages in environment at /home/pi/miniconda/envs/facepi:
#
cycler                    0.10.0                    <pip>
decorator                 4.1.1                     <pip>
dlib                      19.4.0                    <pip>
functools32               3.2.3.post2               <pip>
gpiozero                  1.3.2                     <pip>
libgfortran               1.0                           0  
matplotlib                2.0.2                     <pip>
networkx                  1.11                      <pip>
numpy                     1.9.2                    py27_1  
olefile                   0.44                      <pip>
openblas                  0.2.14                        1  
openssl                   1.0.2d                        0  
pillow                    4.2.1                     <pip>
pip                       7.1.2                    py27_0  
pyparsing                 2.2.0                     <pip>
python                    2.7.10                        2  
python-dateutil           2.6.1                     <pip>
pytz                      2017.2                    <pip>
pywavelets                0.5.2                     <pip>
readline                  6.2                           2  
scikit-image              0.13.0                    <pip>
scipy                     0.16.0               np19py27_1  
setuptools                18.4                     py27_0  
six                       1.10.0                    <pip>
sqlite                    3.8.4.1                       1  
subprocess32              3.2.7                     <pip>
wheel                     0.26.0                   py27_1  
zlib                      1.2.8                         0  
