# packages in environment at /Users/praveens/anaconda/envs/facepi2:
#
boost                     1.59.0                   py27_0    menpo
bzip2                     1.0.6                         3  
dateutil                  2.4.1                    py27_0  
dlib                      19.4.0                    <pip>
freetype                  2.5.5                         2  
icu                       54.1                          0  
jbig                      2.1                           0  
jpeg                      9b                            0  
libpng                    1.6.27                        0  
libtiff                   4.0.6                         3  
numpy                     1.7.1                    py27_2  
olefile                   0.44                     py27_0  
opencv                    2.4.8                np17py27_2  
openface                  0.2.1                     <pip>
openssl                   1.0.2l                        0  
pandas                    0.13.0               np17py27_0  
pillow                    4.2.1                    py27_0  
pip                       9.0.1                    py27_1  
python                    2.7.13                        0  
pytz                      2017.2                   py27_0  
readline                  6.2                           2  
scikit-image              0.9.3                np17py27_0  
scikit-learn              0.16.1                    <pip>
scipy                     0.13.2               np17py27_1  
setuptools                27.2.0                   py27_0  
six                       1.10.0                   py27_0  
sqlite                    3.13.0                        0  
tk                        8.5.18                        0  
wheel                     0.29.0                   py27_0  
xz                        5.2.2                         1  
zlib                      1.2.8                         3  
